body {
    font-family: Arial, sans-serif;
    margin-top: 56px; /* Compense la hauteur de la navbar */
}

.header {
    background: url('background.jpg') no-repeat center center/cover;
    color: white;
    padding: 100px 0;
}

.card img {
    height: 200px;
    object-fit: cover;
}

#contact a {
    text-decoration: none;
}